<mat-card>
    <h1>Hello Enterprise</h1>
    <p>This is a bare bones <b>Angular</b> application which aims to demonstrate how it is possible to implement multiple Angular projects within
        a single codebase and so allow for the creation of enterprise scale <b>Multi-Page Web Applications</b>.</p>

    <p>Most Web Applications begin life as Single-Page Web Applications. This means that their entire codebase is packaged
        and bundled as a single app. This is fine for small applications but for larger (enterprise scale) apps, this can
        result in unwieldy sizes.</p>

    <p>A Multi-Page Web Application resolves this by splitting the application across numberous <i>sub</i> apps which share
        common resources, functions and suchlike.</p>

    <p>This <b>Hello World</b> application is built alongside the <b>That Dev Thing</b> application and shares a number
        of resources and source code. It is packaged within its own module and uses a complex module sharing strategy
        to ensure optimum load speeds.</p>

    <h3>It doesn't look much, but this is an example of how to build enterprise web applications that scale</h3>
</mat-card>

